@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=League+Gothic&family=Lora&family=Montserrat&family=Poppins&display=swap");

:root {
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
}

hr {
  margin-top: 20px;
}
.btn {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.container {
  margin: 0 auto;
  width: 95vw;
}

/* Header Section********************* */
header {
  display: flex;
  flex-direction: column;
  height: 40vh;
  background: linear-gradient(180deg, #0a33f2 0%, #0224c1 100%), #d9d9d9;
  box-shadow: -16px 10px 14px 2px rgba(55, 55, 55, 0.4);
  padding: 10px;
}
header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
header .back-btn a img {
  width: 30px;
}
header .header-content p {
  margin: 10px 0;
  line-height: 18px;
  font-weight: 500;
  font-size: 13px;
  width: 157px;
}

header .header-content h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}

/* FAQ SECTION */
#home .home .faq hr {
  display: none;
}
#home .home .faq {
  margin-top: 50px;
}

#home .home .faq .faq-question-title {
  font-size: 14px;
  margin-top: 50px;
}
#home .home .faq .faq-question-answer {
  font-size: 12px;
  margin: 0px;
  line-height: 22px;
}
.faq-question-title {
  position: relative;
  width: 250px;
}
.faq-question-title::after {
  position: absolute;
  right: -15%;
  content: url(./images/faq-dropdownBtn.svg);
  cursor: pointer;
}

.faq-question.active .faq-question-title::after {
  content: url(./images/faq-dropdownBtn.svg);
}

.faq-question-answer {
  display: none;
  transition: 0.4s;
  box-shadow: -6px 5px 14px 5px rgba(225, 225, 225, 0.3);
  padding: 20px;
}

.faq-question-answer.show-answer{
  display: block;
}

[aria-expanded="false"]::after {
  content: url(./images/faq-dropdownBtn.svg);
}

[aria-expanded="true"]::after {
  content: url(./images/faq-dropdownBtn.svg);
}

#home .home .contact .shq {
  width: 304px;
  height: 112px;
  background: #eaeaea;
  border-radius: 10px;
  padding: 20px;
  color: #8b8b8b;
  margin: 40px 0;
}
#home .home .contact .shq h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
#home .home .contact .shq p {
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  margin-top: 10px;
}
#home .home .contact .shq .btn-blue {
  display: none;
}

#home .home .contact .btn-blue {
  background: linear-gradient(180deg, #0a33f2 0%, #0224c1 100%), #eaeaea;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15%;
  width: 304px;
  height: 60px;
}

#home .home .contact .socials {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#home .home .contact .socials p span {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #1740ff;
}

#home .home .contact .socials a {
  color: #000;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  font-weight: bold;
}
#home .home .contact .socials .email a {
  text-decoration-line: underline;
}
#home .home .contact .socials .phone,
#home .home .contact .socials .email {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#home .home .contact .socials .email {
  align-items: center;
  justify-content: center;
}

/* MEDIA QUERY************** */

@media screen and (min-width:400px) {
  #home .home .faq{
    padding: 10px;
  }
  .faq-question-title::after {
  right: -55%;
 
}
#home .home .contact .shq {
  width: 100%;
}
#home .home .contact .btn-blue {
  width: 100%;
}
}

@media screen and (min-width: 1000px) {
  /* Header Section********************* */
  .container {
    max-width: 1500px;
  }
  header .back-btn a img {
    width: 50px;
  }
  header .header-content p {
    line-height: 22px;
    font-size: 25px;
    margin: 30px 0;
    width: 100%;
  }

  header .header-content h1 {
    font-size: 50px;
    line-height: 22px;
  }

  /* Home and FAQ Section */
  /* FAQ SECTION */
  #home .home .faq hr {
    display: block;
  }
  #home .home .faq {
    margin-top: 50px;
  }

  #home .home .faq .faq-question-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    width: 100%;
  }
  #home .home .faq .faq-question-answer {
    font-size: 14px;
    margin: 10px 0;
    line-height: 22px;
  }

  .faq-question-title {
    position: relative;
  }
  .faq-question-title::after {
    position: absolute;
    right: 1%;
    content: "+";
    font-size: 20px;
    cursor: pointer;
  }

  .faq-question.active .faq-question-title::after {
    content: "-";
  }

  .faq-question-answer {
    transition: 0.4s;
    box-shadow: -6px 5px 14px 5px rgba(225, 225, 225, 0.3);
    padding: 20px;
  }

  [aria-expanded="false"]::after {
    content: "+";
  }

  [aria-expanded="true"]::after {
    content: "-";
  }

  #home .home .contact .shq {
    position: relative;
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    height: 120px;
  }
  #home .home .contact .shq .btn-blue {
    display: block;
  }
  #home .home .contact .shq .btn-blue {
    font-size: 16px;
    margin-bottom: 0%;
    width: 250px;
  }
  #home .home .contact .btn-blue {
    display: none;
  }

  #home .home .contact .shq h3 {
    font-size: 20px;
  }
  #home .home .contact .shq p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 5px;
  }

  #home .home .contact .socials {
    flex-direction: row;
    gap: 2rem;
  }
  #home .home .contact .socials a {
    font-size: 16px;
  }
  #home .home .contact .socials p span {
    font-size: 18px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1400px) {
  #home .home .contact .shq h3 {
    font-size: 25px;
  }
  #home .home .contact .shq p {
    font-size: 18px;
  }
  #home .home .contact .shq .btn-blue {
    font-size: 20px;
    margin-bottom: 0%;
    width: 300px;
  }

  #home .home .contact .socials a {
    font-size: 18px;
  }
  #home .home .contact .socials p span {
    font-size: 20px;
  }
}
